---
- debug: msg="Galaxy node type is unknown ({{ galaxy_node_type }}). Only portal, wn or pulsar are supported. Assuming wn."
  when: galaxy_node_type != 'portal' and galaxy_node_type != 'wn' and galaxy_node_type != 'pulsar'

# Create galaxy user to launch the daemon
- include: user.yml

- name: Install virtualenv and pip
  package: name=python3-virtualenv,python3-pip

- name: Include "{{galaxy_node_type}}" recipe
  include: "{{galaxy_node_type}}.yml"
