---
- name: Create {{galaxy_export_dir}}/galaxy-central dir
  file: path={{galaxy_export_dir}}/galaxy-central state=directory mode=0777

- name: Install dependencies for docker management
  pip: name=docker executable=pip3

- name: force all notified handlers (to assure docker is restarted)
  meta: flush_handlers

- include: slurm.yml
  when: galaxy_lrms == "slurm"

- name: Copy local_job_conf.xml
  copy:
    src: local_job_conf.xml
    dest: "{{galaxy_export_dir}}/local_job_conf.xml"

- name: Start galaxy container
  docker_container:
    name: galaxy
    image: grycap/galaxy:20.09-19.05.5
#    image: grycap/galaxy:20.09-20.02.7
#    image: grycap/galaxy:19.09-20
    ports:
     - "8443:443"
     - "8080:80"
     - "8022:22"
     - "8021:21"
     - "9002:9002"
#     - "8800:8800"
    env: "{{galaxy_docker_env_vars}}"
    volumes: "{{galaxy_docker_volumes}}"
    privileged: yes 
