---
- name: Create {{galaxy_export_dir}}/galaxy-central dir
  file: path={{galaxy_export_dir}}/galaxy-central state=directory mode=0777

- name: Install dependencies for docker management
  pip: name=docker

- name: Create /etc/nginx dir
  file: path=/etc/nginx state=directory

- name: Copy nginx.conf file
  copy: src=nginx.conf dest=/etc/nginx/nginx.conf

- name: Copy uwsgi.conf file
  copy: src=uwsgi.conf dest=/etc/nginx/uwsgi.conf

- name: force all notified handlers (to assure docker is restarted)
  meta: flush_handlers

- include: slurm.yml
  when: galaxy_lrms == "slurm"

- name: Start galaxy container
  docker_container:
    name: galaxy
    image: micafer/galaxy
    ports:
     - "8080:80"
     - "8022:22"
     - "8021:21"
     - "9002:9002"
#     - "8800:8800"
    env: "{{galaxy_docker_env_vars}}"
    volumes: "{{galaxy_docker_volumes}}"
    privileged: yes 
