---

- set_fact:
    galaxy_docker_env_vars: "{{ galaxy_docker_env_vars | combine(slurm_galaxy_docker_env_vars) }}"

- set_fact:
    galaxy_docker_volumes: "{{ galaxy_docker_volumes + slurm_galaxy_docker_volumes }}"

# in case of using galaxy_munge_key_password, generate munge.key file
- name: Generate munge key with password
  shell: echo -n "{{ galaxy_munge_key_password }}" | sha512sum | cut -d' ' -f1
  when: galaxy_munge_key_password != ''
  register: key_content
  changed_when: false

- name: Create munge.key file with password
  copy: content="{{ key_content.stdout }}\n" dest={{galaxy_export_dir}}/munge.key
  when: galaxy_munge_key_password != ''

# Otherwhise assume the munge.key exists and copy it from the default place
- name: Copy munge.key file
  command: cp /etc/munge/munge.key {{galaxy_export_dir}}/munge.key creates={{galaxy_export_dir}}/munge.key
  when: galaxy_munge_key_password == ''
  become: true
  become_user: munge

- name: Set correct permissions to munge.key file
  file: path={{galaxy_export_dir}}/munge.key mode=0444 owner=root

- name: Generate slurm.conf in the export dir
  template: src=slurm.conf.j2 dest={{galaxy_export_dir}}/slurm.conf

- name: Install dev libs in RHEL
  yum: name=python3-devel,bzip2-devel,xz-devel
  when: ansible_os_family == "RedHat"
 
- name: Install dev libs in Deb
  apt: name=python3-dev,libbz2-dev,liblzma-dev
  when: ansible_os_family == "Debian"

- name: Copy Galaxy pip Requirements
  #get_url: url=https://raw.githubusercontent.com/galaxyproject/galaxy/refs/tags/v24.1/lib/galaxy/dependencies/pinned-requirements.txt dest=/tmp/requirements.txt
  copy: src=requirements.txt dest=/tmp/requirements.txt

- name: Pin setuptools version to 69.5.1
  pip:
    name: setuptools
    version: 69.5.1
    virtualenv: "{{galaxy_export_dir}}/galaxy_venv"

- name: Install Galaxy WN pip Requirements
  pip:
    requirements: /tmp/requirements.txt
    virtualenv: "{{galaxy_export_dir}}/galaxy_venv"
    extra_args: --extra-index-url https://wheels.galaxyproject.org/simple --only-binary all

