---

- set_fact:
    galaxy_docker_env_vars: "{{ galaxy_docker_env_vars | combine(slurm_galaxy_docker_env_vars) }}"

- set_fact:
    galaxy_docker_volumes: "{{ galaxy_docker_volumes + slurm_galaxy_docker_volumes }}"

- name: Copy munge.key in the export dir
  copy: src=/etc/munge/munge.key dest=/mnt/galaxy_storage/munge.key

- name: Add read permissins to munge.key
  file: path=/etc/munge/munge.key mode=0444

- name: Copy munge.key in the export dir
  template: src=slurm.conf.j2 dest=/mnt/galaxy_storage/slurm.conf

# Configure job_conf.xml
- name: Configure job_conf.xml
  copy:
    content: |
        <?xml version="1.0"?>
        <job_conf>
          <plugins>
            <plugin id="slurm" type="runner" load="galaxy.jobs.runners.drmaa:DRMAAJobRunner" workers="10"/>
          </plugins>
          <handlers>
            <handler id="main" />
          </handlers>
          <destinations default="slurm">
            <destination id="slurm" runner="slurm" tags="mycluster" />
            <param id="embed_metadata_in_job">False</param>
          </destinations>
        </job_conf>
    dest: "/mnt/galaxy_storage/slurm_job_conf.xml"


