---

- set_fact:
    galaxy_docker_env_vars: "{{ galaxy_docker_env_vars | combine(slurm_galaxy_docker_env_vars) }}"

- set_fact:
    galaxy_docker_volumes: "{{ galaxy_docker_volumes + slurm_galaxy_docker_volumes }}"

# in case of using galaxy_munge_key_password, generate munge.key file
- name: Generate munge key with password
  shell: echo -n "{{ galaxy_munge_key_password }}" | sha512sum | cut -d' ' -f1
  when: galaxy_munge_key_password != ''
  register: key_content
  changed_when: false

- name: Create munge.key file with password
  copy: content="{{ key_content.stdout }}\n" dest={{galaxy_export_dir}}/munge.key
  when: galaxy_munge_key_password != ''

# Otherwhise assume the munge.key exists and copy it from the default place
- name: Copy munge.key file
  copy: src=/etc/munge/munge.key dest={{galaxy_export_dir}}/munge.key
  when: galaxy_munge_key_password == ''
  become: true
  become_user: munge

- name: Set correct permissions to munge.key file
  file: path={{galaxy_export_dir}}/munge.key mode=0444 owner=root

- name: Generate slurm.conf in the export dir
  template: src=slurm.conf.j2 dest={{galaxy_export_dir}}/slurm.conf

# Configure job_conf.xml
- name: Configure job_conf.xml
  copy:
    content: |
        <?xml version="1.0"?>
        <job_conf>
          <plugins>
            <plugin id="slurm" type="runner" load="galaxy.jobs.runners.drmaa:DRMAAJobRunner" workers="10"/>
          </plugins>
          <handlers>
            <handler id="main" />
          </handlers>
          <destinations default="slurm">
            <destination id="slurm" runner="slurm" tags="mycluster" />
            <param id="embed_metadata_in_job">False</param>
          </destinations>
        </job_conf>
    dest: "{{galaxy_export_dir}}/slurm_job_conf.xml"


