---
- name: Link export dir
  file: path=/export src={{galaxy_export_dir}} state=link

- name: install Galaxy dependences in Deb systems
  apt: name=libz-dev,python3-crypto,gcc update_cache=yes cache_valid_time=3600
  when: ansible_distribution == "Debian"

- name: install Galaxy dependences in RedHat systems 7
  yum: name=zlib-devel,python36-crypto,gcc
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version|int < 8

- name: install Galaxy dependences in RedHat systems 8+
  yum: name=zlib-devel,gcc
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version|int >= 8

- name: Install GPG key of forensics repo
  rpm_key:
    state: present
    key: https://forensics.cert.org/forensics.asc
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version|int >= 8

- name: Install GPG key of forensics repo
  rpm_key:
    state: present
    key: https://forensics.cert.org/forensics.asc
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version|int >= 8

- name: install Galaxy dependences in RedHat systems 8+
  yum: name=https://forensics.cert.org/centos/cert/8/x86_64/python3-crypto-2.6.1-28.1.el8.x86_64.rpm
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version|int >= 8

- wait_for:
    path: "{{galaxy_export_dir}}/galaxy-central"

- name: Link galaxy-central dir
  file: path=/galaxy-central src={{galaxy_export_dir}}/galaxy-central state=link

- name: Ensure a locale exists
  locale_gen:
    name: en_US.UTF-8
    state: present
  ignore_errors: yes