---
- name: Link export dir
  file: path=/export src={{galaxy_export_dir}} state=link

- name: install Galaxy dependences in Deb systems
  apt: name=python-pip,libz-dev,python-crypto update_cache=yes cache_valid_time=3600
  when: ansible_os_family == "Debian"

- name: install Galaxy dependences in RedHat systems
  yum: name=python-pip,zlib-devel,python-crypto
  when: ansible_os_family == "RedHat"

- name: Copy Galaxy pip Requirements
  copy: src=requirements.txt dest=/tmp/requirements.txt

- name: Install Galaxy WN pip Requirements
  pip:
    requirements: /tmp/requirements.txt

- name: Link galaxy-central dir
  file: path=/galaxy-central src={{galaxy_export_dir}}/galaxy-central state=link
